@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --major: black;
  --minor: white;
  --cyan: #52cde8;
  --pink: pink;
}

header{
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

body{
  color: var(--minor);
  background-color: var(--major);
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-weight: bold;
}

.navdrop{
  position: fixed;
  right: 10px;
  width: 150px;
  background-color: var(--major);
  border-radius: 5px;
  transition: all;
  transition-duration: 200ms;
  display: grid;
}


.menudropbutton{
  position: absolute;
  top: 30px;
  right: 30px;
}

.dropbutton{
  display: none;
  color: white;
  padding-bottom: 7px;
  padding-left: 10px;
  transition: all;
  transition-duration: 300ms;
}
.activedropbutton{
  display: flex;
}
.currentdropbutton{
  color: var(--cyan);
}
.dropbutton:hover{
  text-shadow: var(--pink) 40px 5px 35px;
  color: var(--pink);
  border-radius: 5px;
  padding-left: 20px;
}

.navbar{
  background-color: var(--major);
}

.navbutton{
  display: none;
  padding-left: 30px;
  padding-top: 15px;
  transition: all;
  transition-duration: 300ms;
}
.navbutton:hover{
  color: var(--pink);
  font-size: 1.05em;
  text-shadow:var(--pink) 0px 10px 18px;
}

@media(min-width:720px){
  .navbutton{
    display: flex;
  }
  .menudropbutton{
    display: none;
  }
  .dropbutton{
    display: none;
  }
}