@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --major: black;
  --minor: white;
  --cyan1: #52cde8;
  --pink1: pink;

  --cyan: rgb(54, 189, 247);
  --pink:rgb(252, 91, 244);
}
@font-face{
  font-family: 'Vincendo';
  src: url("../public/fonts/Vincendo.ttf");
}

header{
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

body{
  color: var(--minor);
  background-color: var(--major);
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}
h3{
  font-weight: bolder;
}
.navdrop{
  position: fixed;
  right: 10px;
  width: 150px;
  background-color: var(--major);
  border-radius: 5px;
  transition: all;
  transition-duration: 200ms;
  display: grid;
}
.vincendoFont{
  font-family: 'Vincendo';
}
.subheading{
  padding-top: 80px;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight:700;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left:11%;
}
.card{
  font-family: monospace;
  text-align: center;
  color: black;
  font-style: italic;
  transition-duration: 300ms;
  margin: 4px;
  border-radius: 2px;
  background-color: white;
}
.card:hover{
  box-shadow: var(--cyan) 0px 0px 20px;
}
.card:hover .cardcaption{
  transition-duration: 300ms;
}

.homenavbutton{
  --tw-shadow-color: rgba(255, 255, 255, 0.606);
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  /*
  --tw-gradient-from: var(--cyan) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: var(--pink) var(--tw-gradient-to-position);
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  */
  
  color: var(--cyan);
  background-color: black;

  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;

  border-radius: 1rem /* 16px */;
  transition-duration: 200ms;
  font-family: 'Vincendo';
  border-bottom: 2px solid white;
}
.homenavbutton:hover{
  color: var(--pink);
  border-bottom: 2px solid var(--pink);
  --tw-shadow-color: color-mix(in srgb,var(--pink),transparent 40%);
  --tw-shadow: var(--tw-shadow-colored);
}

.menudropbutton{
  position: absolute;
  top: 30px;
  right: 30px;
}

.dropbutton{
  font-family: monospace;
  display: none;
  color: white;
  padding-bottom: 7px;
  padding-left: 10px;
  transition: all;
  transition-duration: 500ms;
}
.activedropbutton{
  display: flex;
}
.currentdropbutton{
  color: var(--cyan);
}
.dropbutton:hover{
  text-shadow: var(--pink) 40px 5px 35px;
  color: var(--pink);
  border-radius: 5px;
  padding-left: 20px;
}
.dropbutton:hover::before{
  content: "➜\00a0";
}
.navbar{
  background-color: var(--major);
}

.navbutton{
  font-family: monospace;
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 30px;
  padding-top: 15px;
  transition: all;
  transition-duration: 300ms;
}
.navbutton:hover{
  padding-bottom: 10px;
  color: var(--pink);
  text-shadow:var(--pink) 0px 10px 18px;
}
.footer{
  box-shadow: white 0px 10px 30px;
}
.footer div div{
  width: fit-content;
  min-width: 300px;
}
@media(min-width:720px){
  .navbutton{
    display: flex;
  }
  .menudropbutton{
    display: none;
  }
  .dropbutton{
    display: none;
  }
}